* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #e7eff6;
  --color-primary: #2d2d2d;
  --color-terciary: #fb2e00;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
  --fs-header-special: clamp(1rem, 0.2rem + 2vw, 2rem);
}

.dark-theme {
  --bg-secondary: #1c222e;
  --color-secondary: #e7eff6;
}

header {
  position: fixed;
  margin-top: 0;
}

span {
  color: var(--color-terciary);
}

.container {
  width: clamp(33rem, 80%, 150rem);
  height: 55rem;

  margin: 0 auto 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h1 {
  font-size: 8.5rem;
}

.container p {
  font-size: 2rem;
}

.container h1 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 2rem;

  color: #e7eff6;
  background: linear-gradient(to right, #fb2e00, #f16529);
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(251, 46, 0, 0.9);

  border-radius: 7px;

  width: 17rem;
  padding: 10px 0;
  margin: 5rem auto 0;

  position: relative;
  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.container h1 a:hover {
  transform: translateY(-10px);

  background: linear-gradient(#ca2601, #ca2601);
  color: #e7eff6;
}

span {
  color: #fb2e00;
}

.gradient-text {
  background-image: linear-gradient(50deg, #ff2a00, #fb603d, #f87457);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container-content {
  width: clamp(33rem, 80%, 150rem);
  margin: 10rem 0 0;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.section-margin-top {
  margin-top: 13rem;
}

.img-info-div {
  width: clamp(33rem, 80%, 110rem);
  margin: auto;
  padding: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.img-info-div img {
  width: 40%;
}

.info-text-one {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-text-one h1 {
  font-size: var(--fs-header-sm);
}

.info-text-one h3 {
  font-weight: 500;
}

.img-info-two-div {
  width: clamp(33rem, 80%, 110rem);
  margin: auto;
  padding: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.img-info-two-div img {
  width: 40%;
}

.info-text-two {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-text-two h1 {
  font-size: var(--fs-header-sm);
}

.info-text-two h3 {
  font-weight: 500;
}

.minds {
  width: clamp(33rem, 80%, 150rem);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 18rem auto 0;
}

.minds h1 {
  font-size: var(--fs-header-sm);
}

.minds h3 {
  font-weight: 500;
}

.section-colapse {
  width: clamp(33rem, 80%, 110rem);
  display: flex;
  justify-content: space-between;

  margin: 8rem auto 20rem;
}

.card-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.card-collapse img {
  width: 70%;
  border-radius: 100%;
  border: 4px solid transparent;
  background: linear-gradient(#fb2e00, #f16529) padding-box,
    linear-gradient(260deg, #fb2e00, #f16529) border-box;

  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(251, 46, 0, 0.9);
  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.card-collapse img:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

.card-collapse h1 {
  margin: 2rem 0;
  font-size: var(--fs-header-special);
}

.details {
  border-radius: 10px;
  background: linear-gradient(to right, #fb2e00, #f16529);
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(251, 46, 0, 0.9);
  color: #e7eff6;

  margin: 90% auto;
  padding: 8px;
  width: 80%;

  text-align: center;
  justify-content: center;
  align-items: center;

  position: absolute;

  transition: all 0.3s ease-out;
  transform: translateY(0);
}

.details:hover {
  cursor: pointer;
  scale: 1.1;
  transform: translateY(0);
}

.summary {
  padding: 0.5em;
}

.summary:hover {
  cursor: pointer;
}

details[open] {
  background-color: #fb2e00;
  color: #e7eff6;
}

details[open] summary {
  border-bottom: 2px solid #e7eff6;
  color: #e7eff6;
}

.partners-section {
  width: clamp(33rem, 80%, 110rem);

  margin: 8rem auto 20rem;
}

.partners {
  display: flex;
  justify-content: center;

  gap: 4%;
  flex: 1;
  margin: 8rem 2rem;

  position: relative;
}

.partners a img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.partners img:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

.section-media-text {
  margin: 8rem auto 0;
  text-align: center;

  color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section-media-text h1 {
  font-size: var(--fs-header-sm);

  margin-bottom: 2rem;
}

.section-media-text p {
  font-weight: 500;
  margin-bottom: 3rem;
}

.section-media-text div {
  padding: 10px;
}

.section-media {
  width: clamp(33rem, 80%, 110rem);
  padding: 20px;
  margin: 0 auto 10rem;
}

.media-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-decoration: none;
  color: #fb2e00;
}

.media-container,
.media-item a {
  text-decoration: none;
  color: var(--color-secondary);
}

.media-item {
  font-size: 8rem;
  margin: auto;
}

.media-item i {
  transition: all 0.3s ease-out;
  transform: translateY(0);
}

.media-item i:hover {
  cursor: pointer;
  transform: translateY(-10px);
  color: #fb2e00;
}

.section-media-text-last {
  margin: 8rem auto 0;
  text-align: center;

  color: #e7eff6;
  background-image: url(https://zezindev.github.io/zice-responsive-2/imgs/woman-pc-smile-2.png);
  object-fit: cover;

  height: 67rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-media-text-last div {
  margin-right: 10%;
}

.section-media-text-last h1 {
  font-size: var(--fs-header-sm);

  margin-bottom: 2rem;
}

.section-media-text-last a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: var(--fs-body);

  color: #e7eff6;
  background: linear-gradient(to right, #fb2e00, #f16529);
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(251, 46, 0, 0.9);

  border-radius: 7px;

  width: 18rem;
  padding: 15px 0;
  margin: 5rem auto 10rem;

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.section-media-text-last a:hover {
  background: linear-gradient(#ca2601, #ca2601);
  color: #e7eff6;

  transform: translateY(-10px);
}

@media (max-width: 1350px) {
  .section-media-text-last {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .section-media-text-last div {
    margin-left: 5%;
  }
}

@media (max-width: 1020px) {
  .container {
    width: clamp(33rem, 80%, 100rem);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .container h1 {
    font-size: var(--fs-header);
  }

  .container p {
    font-size: var(--fs-body);
  }

  .section-margin-top {
    margin-top: 10rem;
  }

  .section-colapse {
    margin: 8rem auto 27rem;
  }

  .details {
    margin: 95% auto 0;
  }

  .img-info-div {
    width: clamp(33rem, 80%, 100rem);
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-text-one {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    color: var(--color-secondary);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .img-info-div img {
    width: 80%;
  }

  .img-info-two-div {
    width: clamp(33rem, 80%, 100rem);
    margin: auto;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .img-info-two-div img {
    width: 80%;
  }

  .info-text-two {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    color: var(--color-secondary);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .minds {
    width: clamp(33rem, 80%, 150rem);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 10rem auto 0;
  }

  .minds h1 {
    font-size: var(--fs-header-sm);
  }
}

@media (max-width: 830px) {
  .section-colapse {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 8rem auto 20rem;
  }

  .card-collapse h1 {
    margin: 1rem 0;
    font-size: var(--fs-header-sm);
  }

  .card-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-bottom: 20rem;
  }

  .details {
    margin: 85% auto 0;
  }

  .minds {
    width: clamp(33rem, 80%, 150rem);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 10rem auto 0;
  }

  #raquel {
    padding-bottom: 0;
  }

  .partners {
    align-items: center;
    flex-direction: column;
  }

  .partners a {
    padding-bottom: 3rem;
  }

  .section-media-text-last {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-media-text-last div {
    margin: 0;
  }
}

@media (max-width: 705px) {
  .section-media-text-last {
    background-image: url(https://zezindev.github.io/zice-responsive-2/imgs/woman-pc-smile-mobile.png);

    height: 44rem;
  }
}

@media (max-width: 510px) {
  .details {
    margin: 90% auto 0;
  }

  .partners-section {
    margin: 8rem auto 2rem;
  }

  .media-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .section-media-text-last {
    background-image: url(https://zezindev.github.io/zice-responsive-2/imgs/woman-pc-smile-mobile-2.png);

    height: 44rem;
  }
}
