* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #e7eff6;
  --color-primary: #2d2d2d;
  --color-terciary: #fb2e00;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

.dark-theme {
  --bg-secondary: #021622;
  --color-secondary: #e7eff6;
}

header {
  position: fixed;
  margin-top: 0;
}

.container {
  width: clamp(33rem, 80%, 150rem);
  height: 45rem;

  margin: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container h1 {
  font-size: var(--fs-header);
}

.container p {
  font-size: 2rem;
}

.container span {
  color: #fb2e00;
}

.container-content {
  border-bottom: #fb2e00 4px solid;
  width: clamp(33rem, 80%, 150rem);
  padding: 3rem 0;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.info-text {
  width: clamp(33rem, 80%, 100rem);

  margin: 0 auto;
  text-align: center;

  color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-text h1 {
  font-size: var(--fs-header);
}

.info {
  width: clamp(33rem, 80%, 100rem);

  margin: 8rem auto 0;
  text-align: center;

  color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info- h1 {
  font-size: var(--fs-header-sm);

  margin-bottom: 2rem;
}

.info h3 {
  font-weight: 500;
}

span {
  color: var(--color-terciary);
}

.card-container {
  display: flex;
  justify-content: center;

  gap: 4%;
  margin: 8rem 2rem;

  position: relative;
}

.card {
  flex: 1;
  color: var(--color-secondary);
  border-radius: 10px;

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-bottom: 4px solid #fb2e00;
}

.card:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;

  box-shadow: 4px 4px 10px #0b324c;
}

.card h2 {
  margin-bottom: 1.5rem;
  padding: 5px 0 0;
}

.card p {
  padding: 0 15px 15px;
}
