* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #e7eff6;
  --color-primary: #2d2d2d;
  --color-terciary: #fb2e00;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

.dark-theme {
  --bg-secondary: #1c222e;
  --color-secondary: #e7eff6;
}

span {
  color: #fb2e00;
}

.div-h1-first {
  width: clamp(33rem, 80%, 130rem);

  margin: 0 auto 10rem;
  padding-top: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.div-h1-first h1 {
  font-size: 8.5rem;
}

.container-master {
  width: clamp(33rem, 80%, 120rem);
  margin: 0 auto 10rem;
  padding: 5rem;

  gap: 10%;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.container-master h1 {
  font-size: var(--fs-header-sm);
}

.info {
  display: flex;
  flex-direction: column;
}

.info-more {
  margin-top: 15%;
}

.info-item p{
  margin-top: 2rem;
  font-size: 1.5rem;
}

.info-item a {
  text-decoration: none;
  color: var(--color-secondary);

  transition: all 0.2s ease-out;
  transform: translateY(0);
}

.info-item a:hover{
  color: #fb2e00;
  transform: translateY(0);
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.form-column {
  margin-top: 2rem;
}

.form-container .form-column {
  flex: 1;
  min-width: 48%;
}

.form-container .form-column.full-width {
  flex-basis: 100%;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(180, 180, 180, 0.6);

  outline: none;
}

textarea {
  max-width: 70rem;
}

.form-container .checkbox-label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.submit-button {
  font-family: var(--ff-all);
  font-size: var(--fs-body);
  color: #e7eff6;
  background: linear-gradient(to right, #fb2e00, #f16529);
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(251, 46, 0, 0.9);

  width: 30%;
  padding: 1rem 2rem;
  margin-top: 2rem;

  border: none;
  border-radius: 1rem;
  cursor: pointer;

  position: relative;
  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.submit-button:hover {
  transform: translateY(-10px);

  background: linear-gradient(#ca2601, #ca2601);
  color: #e7eff6;
}

@media (max-width: 830px) {
  .div-h1-first h1 {
    font-size: var(--fs-header);
  }

  .container-master{
    flex-direction: column;
  }

  .submit-button {
    width: 40%;
  }
}

@media (max-width: 450px) {
   .submit-button {
    width: 100%;
  }
}