* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #e7eff6;
  --color-primary: #2d2d2d;
  --color-terciary: #fb2e00;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
  --fs-header-special: clamp(1rem, 0.2rem + 2vw, 2rem);
}

.dark-theme {
  --bg-secondary: #021622;
  --color-secondary: #e7eff6;
}

span {
  color: var(--color-terciary);
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.minds {
  width: clamp(33rem, 80%, 150rem);
  height: 35rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 4px solid #fb2e00;
}

.minds h1 {
  font-size: var(--fs-header-sm);
}

.minds h3 {
  font-weight: 500;
}

.card-section {
  max-width: clamp(33rem, 80%, 100rem);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  margin: 0 auto;
  padding: 15rem 0;
}

.card {
  padding: 0 0 5rem;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card p {
  margin-top: 10px;
}
