* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #e7eff6;
  --color-primary: #2d2d2d;
  --color-terciary: #fb2e00;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
  --fs-header-special: clamp(1rem, 0.2rem + 2vw, 2rem);
}

.dark-theme {
  --bg-secondary: #1c222e;
  --color-secondary: #e7eff6;
}

span {
  color: var(--color-terciary);
}

.gradient-text {
  background-image: linear-gradient(50deg, #ff2a00, #fb603d, #f87457);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.container {
  width: clamp(33rem, 80%, 150rem);
  margin: auto;
  padding: 20rem 0 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container h1 {
  font-size: 8.5rem;
}

.container h3 {
  font-size: 3.5rem;
}

.card-section {
  max-width: clamp(33rem, 80%, 120rem);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 3rem;

  margin: 10rem auto 10rem;
}

.card {
  display: flex;
  justify-content: flex-start;
  text-align: start;

  padding: 4rem 3rem 4rem;
  margin: 3rem 0;
  border-radius: 1rem;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.card:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

.card img {
  position: absolute;
  top: -5rem;
  left: 4rem;
  height: 8rem;

  background: linear-gradient(to right, #fb2e00, #f16529);
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(251, 46, 0, 0.9);
  border-radius: 10px;

  padding: 10px;
}

.card h1{
  padding: 1rem 0 2rem;
}

.card p {
  font-weight: 500;
  font-size: var(--fs-body);

  width: 100%;
}

@media (max-width: 1230px) {
  .container h1 {
    font-size: var(--fs-header);
  }

  .container h3 {
    font-size: var(--fs-header-sm);
  }
}

@media (max-width: 500px){
  .card-section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}