* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #e7eff6;
  --color-primary: #2d2d2d;
  --color-terciary: #fb2e00;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
  --fs-header-special: clamp(1rem, 0.2rem + 2vw, 2rem);
}

.dark-theme {
  --bg-secondary: #1c222e;
  --color-secondary: #e7eff6;
}

span {
  color: var(--color-terciary);
}

.gradient-text {
  background-image: linear-gradient(50deg, #ff2a00, #fb603d, #f87457);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s, transform 1s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.container {
  width: clamp(33rem, 80%, 150rem);
  margin: auto;
  padding: 20rem 0 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container h1 {
  font-size: 8.5rem;
}

.container h3 {
  font-size: 3.5rem;
}

.card-section {
  max-width: clamp(33rem, 80%, 120rem);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 3rem;

  margin: 10rem auto 10rem;
}

.card {
  display: flex;
  justify-content: flex-start;
  text-align: start;

  padding: 4rem 3rem 4rem;
  margin: 3rem 0;
  border-radius: 1rem;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.card:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

.card img {
  position: absolute;
  top: -5rem;
  left: 4rem;
  height: 8rem;

  background: linear-gradient(to right, #fb2e00, #f16529);
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(251, 46, 0, 0.9);
  border-radius: 10px;

  padding: 10px;
}

.card h1 {
  padding: 1rem 0 2rem;
}

.card p {
  font-weight: 500;
  font-size: var(--fs-body);

  width: 100%;
}

.section-two {
  width: clamp(33rem, 80%, 130rem);

  margin: 8rem auto 0;
  text-align: center;

  color: var(--color-secondary);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section-two h1 {
  font-size: var(--fs-header-sm);

  margin-bottom: 2rem;
}

.section-two h3 {
  font-weight: 500;
}

.card-container-two {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);

  gap: 2%;
  margin: 8rem 2rem;

  position: relative;
}

.card-section-two {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 2rem;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 1rem;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.37);

  color: var(--color-secondary);

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.div-img-card {
  display: flex;
  justify-content: center;
  height: 50%;
}

.div-img-card img {
  width: 20rem;
}

.div-content-card {
  height: 50%;
  padding-top: 15%;
}

.card-section-two:hover {
  transform: translate(-5px, -10px);
  cursor: pointer;
}

.card-section-two h2 {
  margin-bottom: 1.5rem;
  padding: 5px 0 0;
}

.card-section-two p {
  padding: 0 15px 15px;
}

.section-media-text-last {
  margin: 8rem auto 0;
  text-align: center;

  color: #e7eff6;
  background-image: url(https://zezindev.github.io/zice-responsive-2/imgs/woman-pc-4.png);
  object-fit: cover;

  height: 80rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-media-text-last div {
  margin-right: 40%;
}

.section-media-text-last h1 {
  font-size: var(--fs-header-sm);

  margin-bottom: 2rem;
}

.section-media-text-last a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: var(--fs-body);

  color: #e7eff6;
  background: linear-gradient(to right, #fb2e00, #f16529);
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(251, 46, 0, 0.9);

  border-radius: 0.7rem;

  width: 18rem;
  padding: 1.5rem 0;
  margin: 5rem auto 10rem;

  transition: transform 0.3s ease-out;
  transform: translateY(0);
}

.section-media-text-last a:hover {
  background: linear-gradient(#ca2601, #ca2601);
  color: #e7eff6;

  transform: translateY(-1rem);
}

@media (max-width: 1230px) {
  .container h1 {
    font-size: var(--fs-header);
  }

  .container h3 {
    font-size: var(--fs-header-sm);
  }

  .info-two {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card-container-two {
    grid-template-columns: repeat(2, 2fr);
  }

  #card3 {
    margin-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .card-section-two {
    margin-bottom: 5rem;
  }
}

@media (max-width: 830px) {
  .card-container-two {
    display: flex;
    flex-direction: column;

    margin-top: 3rem;
  }

  .section-media-text-last {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-media-text-last div {
    margin: 0;
  }
}

@media (max-width: 705px) {
  .section-media-text-last {
    background-image: url(https://zezindev.github.io/zice-responsive-2/imgs/woman-pc-4-2.png);

    height: 44rem;
  }
}

@media (max-width: 500px) {
  .card-section {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
