* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-all: "Nunito", sans-serif;
  --bg-primary: #e7eff6;
  --color-primary: #2d2d2d;
  --color-terciary: #fb2e00;

  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: clamp(4rem, 1rem + 5vw, 5.6rem);
  --fs-header-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
}

.dark-theme {
  --bg-secondary: #021622;
  --color-secondary: #e7eff6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-terciary);
  border-radius: 10px;
}
/* Desktop */

body {
  font-family: var(--ff-all);

  background-color: var(--bg-primary);
  color: var(--color-primary);

  font-size: var(--fs-body);
}

body.dark-theme {
  background: var(--bg-secondary);
  color: var(--color-secondary);
}

body:not(.dark-theme) .nav-list {
  background: var(--bg-primary);
  color: var(--color-primary);
}

body.dark-theme .nav-list {
  background: var(--bg-secondary);
  color: var(--color-secondary);
}

body:not(.dark-theme) header {
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

body.dark-theme header {
  background-color: var(--bg-secondary);
  color: var(--color-secondary);
}

body.dark-theme header {
  box-shadow: 1px 2px 10px 1px #041a29;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
  width: 100%;
  padding: 2.5rem 0;

  box-shadow: 1px 2px 10px 1px #bcbcbc;

  font-weight: 700;

  z-index: 1000;
}

header img {
  height: 2.5rem;

  margin-left: 3rem;
}

#logo {
  cursor: pointer;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.nav-list {
  display: flex;
  text-decoration: none;
}

.nav-list li {
  list-style: none;

  margin-left: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li a {
  text-decoration: none;
  color: var(--color-secondary);

  transition: all 0.3s ease-out;
  transform: translateY(0);
}

.nav-list li a:hover {
  color: var(--color-terciary);
  transform: translateY(0);
}

.selected {
  border-bottom: 0.15pc solid var(--color-terciary);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-terciary);
  border-radius: 50px;

  cursor: pointer;

  padding: 4px;

  width: 5rem;
}

.label .ball {
  position: absolute;

  height: 1.8rem;
  width: 1.8rem;

  background-color: var(--bg-primary);
  border-radius: 50%;

  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(23px);
}

.fa-moon {
  color: #2d2d2d;
  padding: 1px;
}

.fa-sun {
  color: #e7eff6;
  padding: 1px;
}

.info {
  padding-bottom: 5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15%;

  padding: 12rem 0 4rem;
  border-top: solid 4px var(--color-terciary);
}

.container-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2.5rem;
}

.container-social img {
  height: 7rem;
}

.container-social a i {
  display: inline-block;
  padding: 0 7px 0;
}

.social-icons a {
  text-decoration: none;
  color: var(--color-secondary);

  transition: all 0.3s ease-out;
  transform: translateY(0);
}

.social-icons a:hover {
  color: var(--color-terciary);

  transform: translateY(0);
}

.container-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 10%;
}

.container-links h5 a {
  text-decoration: none;
  color: var(--color-secondary);

  transition: all 0.3s ease-out;
  transform: translateY(0);
}

.container-links h5 a:hover {
  color: var(--color-terciary);
  transform: translateY(0);

  cursor: pointer;
}

.border-links {
  border-right: solid 2px var(--color-terciary);
  border-left: solid 2px var(--color-terciary);

  padding: 0 20%;
}

.container-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;

  margin: 4rem 0;
}

.container-copyright a {
  color: var(--color-secondary);
}

.container-copyright a:hover {
  color: var(--color-terciary);
  transition: all 0.3s ease-out;

  cursor: pointer;
}

/* Mobile */
@media (max-width: 970px) {
  .border-links {
    border-right: solid 2px var(--color-terciary);
    border-left: solid 2px var(--color-terciary);

    padding: 0 20px;
  }
}

@media (max-width: 840px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    position: fixed;
    top: 0;

    height: 4.8rem;
  }

  header img {
    height: 2rem;

    padding: 3px 0 0;
  }

  #icon {
    display: block;

    font-size: 1.8rem;
    padding-right: 3rem;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;

    padding: 8rem 0;
    z-index: -1;

    width: 100vw;
    height: 100vh;

    border-bottom: 3px solid var(--color-terciary);

    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    list-style: none;

    margin-left: 0;

    opacity: 0;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }

  .nav-list li a {
    text-decoration: none;
  }

  footer {
    display: block;
    padding: 1rem 0 1rem;
  }

  .container-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;
  }

  .container-social img {
    height: 4rem;
  }

  .container-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10%;
  }

  .border-links {
    padding: 0 10%;
  }

  .container-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 4rem 0;
  }

  .container-copyright a {
    color: var(--color-secondary);
  }
}

@media (max-width: 500px) {
  .container-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 3%;
  }

  .border-right-style {
    border-right: solid 2px var(--color-terciary);
    padding: 0 8px;
  }

  .border-left-style {
    border-left: solid 2px var(--color-terciary);
    padding: 0 8px;
  }

  .border-links {
    padding: 0;
    border: none;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
